.container {
  display: flex;
}

.content {
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
  align-content: center;
  margin-top: 4rem;
}

@media (max-width: 68.5rem) {
  .container section {
    grid-template-columns: 1fr;
  }

  .container section div:first-child {
    grid-row: 2;
  }
}