.container {
  background-color: var(--blue); 
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 2rem 0 0;
}

.container > img {
  width: 100%;
  max-height: 100%;
  margin-right: 7.5rem;
}

.loginContent {
  margin-bottom: 4rem;
  width: 100%;
}

.loginContent > img {
  width: 360px;
  height: 76px;
}

.loginContent h1 {
  margin-top: 6rem;
  color: var(--white);
  font-size: 2.25rem;
  font-family: "Inter", sans-serif;
}

.loginDescriptionContainer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.loginDescriptionContainer > span {
  margin-left: 1.5rem;
  color: var(--blue-text);
  width: 60%;
  font-weight: 500;
  font-size: 1.25rem;
}

.loginForm {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  height: 5rem;
}

.loginForm > input {
  background: linear-gradient(90deg, var(--blue-dark), rgba(73, 83, 184, 0.2));
  font-size: 1.25rem;
  color: var(--white);
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  height: 100%;
  padding-left: 1.7rem;
}

.loginButtonActive {
  background-color: var(--green) !important;
}

.loginForm > button {
  background-color: var(--blue-dark);
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  padding: 0 1.5rem;
}

.loginForm > input::-webkit-placeholder {
  color: var(--blue-text);
  opacity: 1;
}

.loginForm > input:-moz-placeholder {
  /* Firefox 4 to 18 */

  color: var(--blue-text);
  opacity: 1;
}

.loginForm > input::-moz-placeholder {
  /* Firefox 19+ */

  color: var(--blue-text);
  opacity: 1;
}

.loginForm > input::-ms-input-placeholder {
  /* IE 10+ */

  color: var(--blue-text);
  opacity: 1;
}

.demoLoginButton {
  background: none;
  border: 0;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  background-color: var(--blue-dark);
  color: var(--blue-text);
  border-radius: 5px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 1.25rem;
}

.demoLoginButton:hover {
  background-color: var(--green);
  color: var(--text);
}

@media (max-width: 81.25rem) {
}

@media (max-width: 48.5rem) {
  .container {
    padding: 2rem;
  }

  .loginContent {
    width: 70%;
    margin: 0 auto;
  }

  .container > img {
    display: none;
  }
}

@media (max-width: 35.6875rem) {
  .container {
    padding: 2rem 1rem;
  }

  .logincontent {
    width: 80%;
  }

  .loginContent > img {
    width: 280px;
    height: 59.1px;
  }
}

@media (max-width: 28.5rem) {
  .container {
    padding: 4rem 2rem;
  }

  .loginContent {
    width: 90%;
  }

  .loginContent > img {
    width: 240px;
    height: 50.6px;
  }
}